.start-button {
    background-color: #505050;
    color: white;
    border: none;
    margin-top: 20px;
    padding: 20px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.start-button:hover {
    background-color: #707070;
}

.intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    height: 100vh;
    background-color: #242424;
}